.location {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2.5em;
  max-width: 4.5em;
  padding: .7em;
  font-size: .75em;
  background: #FFFFFF;
  color: #3F4145;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 94px;
}

.location:hover {
  background-color: #EEEEEE;
  cursor: pointer;
}

.icon {
  color: #6277F0;
}
