.profile-container {
    background-color: #F6F7F7;
    height: 100vh;
    margin-bottom: 5px;
    padding: 10px;
}
.card {
  width: 70%;
  background-color: #FFFFFF;
  margin: 1.5rem;
  padding: 1.5rem;

}

.profile-header {
  font-size: 1rem;
  font-weight: 500;
  display: flex;

  text-align: start;
  align-items: center;
  padding-bottom: 5px
}

.profile-image {
    padding-top: 1.5rem;
    max-width: 300px;
    max-height: 300px;
}

.profile-name-title {
    padding-left: 5px;
}

.bio {
  font-size: 0.75rem;
  font-weight: 400;
  color: #6E7178;
  text-align: start;

  padding-bottom: 5px;
}

.detail-container {
  display: flex;
  align-items: center;
}

.detail-label {
  color: #6E7178;
  font-size: 0.75rem;
}

.detail-icon {
 padding: 5px;
}

.detail {
  color: #3F4145;
}

.breadLink {
  font-size: 0.75rem;
  color: #6E7178
}

.breadCurrent {
  font-size: 0.75rem;
  font-weight: 600;
  color: #6E7178;
}

.breadLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  color: #6277F0;
  background-color: transparent;
  border: none;
  align-items: center;
  display: flex;
}

.avatar {
    border: 2px solid white;
}

.flex {
  display: flex;
}

p {
  margin: 0;
}
