.profile-container {
  margin-left: 18%;
  padding: 10px;
  background-color: #F6F7F7;
}

.top-card {
  width: 60%;
  margin: 1.5rem 0 0 1.5rem;
  padding: 1.5rem;
  background-color: #FFFFFF;
}

.bottom-card {
  width: 60%;
  margin: 0 0 0 1.5rem;
  padding: 1.5rem;
  background-color: #FFFFFF;
  border-top: 2px solid #EEEEEE;
}

.profile-header {
  display: flex;
  padding-bottom: 5px;
  text-align: start;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}

.profile-image {
  margin-top: 1.5rem;
  max-width: 300px;
  max-height: 300px;
  border: 2px solid #EEEEEE;
}

.profile-designation {
  padding-bottom: 5px;
  text-align: start;
  font-size: 0.75rem;
  font-weight: 600;
  color: #6E7178;
}

.profile-bio {
  margin-bottom: 5px;
  text-align: start;
  font-size: 0.75rem;
  font-weight: 400;
  color: #6E7178;
}

.detail-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.detail-label {
  font-size: 0.65rem;
  color: #6E7178;
}

.detail-icon {
 padding: 5px;
 background-color: #FAFAFA;
}

.detail {
  font-size: 0.75rem;
}

.bread-link {
  font-size: 0.75rem;
  color: #6E7178;
}

.bread-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bread-current {
  font-size: 0.75rem;
  font-weight: 600;
  color: #6E7178;
}

.read-more-button {
  display: flex;
  align-items: center;
  padding: 0;
  font-weight: 600;
  color: #6277F0;
  background-color: transparent;
  border: none;
}

.booking-button {
  width: 100%;
  height: 2.7em;
  margin: 15px 0px 8px 0px;
  font-size: 1.12em;
  color: white;
  background-color: #4B286D;
  border-radius: 98px;
  border: none;
  cursor: pointer;
}
