.App {
  text-align: center;
  height: 100vh;
  background-color: #F6F7F7;
  font-family: 'Helvetica'
}
  
.app-header {
  color: #1C1E24;
  background-color: #FFFFFF;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header {
  padding: 0% 20% 30px 20% ;
  text-align: start;
}
  
.subtitle {
  color: #6E7178;
  font-style: normal;
  font-weight: 400;
  font-size: 0.925rem;
  line-height: 120%;
  letter-spacing: 0.01em;
  margin-top: 0px;
}
  
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: 0.01em;

  color: #1C1E24;
  margin: 0px 0px 5px 0px;
  padding-top: 10px;
}
  
.location-menu {
  width:fit-content;
  text-align: center;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  position: absolute;
  background-color: #FFFFFF;
  top: 100px;
  margin-left: 20%;
  z-index:999;
}